<div class="container">
  <div class="chatroom">
    <div
      *ngFor="let message of allMessages"
      [class]="{messages:true,messageme:message.data.uid===userUID}"
    >
      <div
        *ngIf="message.data.uid===userUID; else elseTmpl"
        class="messageblock"
      >

        <div>
          <div class="messageme__text"> {{message.data.message}}</div>
          <!-- <div class="messageme__time">{{message[1].time}}</div> -->
        </div>
        <!-- <img
          class="profile"
          :src="url"
        > -->

      </div>
      <ng-template #elseTmpl>
      <div
        class="message"
      >
        <img
          class="profile"
          [src]="memberDataObject[message.data.uid].avatar"
        >
        <div>
          {{message.data.userId}} <div class="message__text">{{message.data.message}}</div>
          <!-- <div class="message__time">{{message[1].time}}</div> -->
        </div>

      </div>
     </ng-template>

    </div>
    <ng-container *ngFor="let member of memberList">
    <ng-container *ngIf="isTyping[member] && member !==userUID">
      <div class="messages">
        <div class="message">
          {{memberDataObject[member].userName}}正在輸入
          <div class="ticontainer">
            <div class="tiblock">
              <div class="tidot"></div>
              <div class="tidot"></div>
              <div class="tidot"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>



  </div>
  <div class="footer" *ngIf="userId">
    <!-- <input
      v-model="userId"
      class="nameinput"
      placeholder="Enter your name"
    > -->
    <input [(ngModel)]="message"  class="input" (blur)="onBlur()" (focus)="onFocus()" (keydown.enter)="sendMessage()">
    <button
      *ngIf="message.length >0 ;else elseTmpl"
      class="send"
      (click)="sendMessage()"
    >send</button>
    <ng-template #elseTmpl>

    <button
      class="send thumb"
      (click)="sendMessage('👍')"
    >
      👍
    </button>
    </ng-template>
  </div>

</div>
