<!-- <nb-layout-column class="container"> -->
  <div class="container">
  <div class="chatblock">
    <ng-container [formGroup]="myForm" *ngIf="authService.isLoggedIn" >
    <label class="input-sizer"
      ><span>Room ID</span>
      <input formControlName="roomId" placeholder="Type in your roomId"
    /></label>
    <!-- <label class="input-sizer"
      ><span>User ID</span>
      <input formControlName="userId" placeholder="Type in your User ID" (keyup.enter)="enter()"
    /></label>
    <label class="input-sizer"
      ><span>Password</span>
      <input formControlName="password" placeholder="Type in your password"
    /></label>
    <label class="input-sizer"><span>Password</span> <input
        v-model="password"
        placeholder="Type in your password"
      ></label>
    <label class="input-sizer">
      <button (click)="enter()" class="enter-btn">Enter the chatroom</button></label
    > -->
    <label class="input-sizer" *ngIf="myForm.value.roomId">
      <button (click)="creatRoom()" class="enter-btn">Create a chatroom</button></label>
    </ng-container>

    <ng-container  *ngIf="!authService.isLoggedIn;else elseTmpl" >
    <label class="input-sizer">
      <button (click)="loginWithG()" class="enter-btn">Login with Google</button>
    </label>
    </ng-container>
    <ng-template #elseTmpl>
    <label class="input-sizer">
      <button class="enter-btn" (click)="logOut()">
        Log Out
      </button>
    </label>
    </ng-template>

  </div>
  </div>
<!-- <nb-layout-column> -->

